body{
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

.container{
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: center;
}
.container p{
  color: grey;
}
input{
  width: 97%;
  padding: 10px 0 10px 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
button{
  width: 100%;
  padding: 10px 0;
  color: white;
  background: blue;
  border: none;
  border-radius: 5px;
}

  